*
**/__pycache__/

!app.py
!gunicorn_config.py
!Procfile
!requirements.txt
!environment/.env
!environment/settings.py
!environment/labels.yml
!builtin/
!custom/

# comment to exclude data from container image
!data/
