**/__pycache__/
/.env
/.venv/
/.venv-dev/
data/

.env
.env.dev

markdown/*
!markdown/corpora.md
!markdown/home.md
!markdown/user_guide.md
!markdown/susanne.md

config/*
!corpora.yml
!corpora-ske.yml

custom/*
