**/__pycache__/
*.log
.sgex.log*

/.cache
/.env
/.venv/
/.venv-dev/

/config.yml
data/
secrets/
environment/*
!environment/settings.py

# comment this group of lines to track custom content in git
assets/*
call/*
components/*
layout/*
markdown/*
pages/*
utils/*
