/* query input, settings button, etc. */
.top-panel {
    display: inline-flex;
    margin-bottom: 18px;
    width:100%;
}

/* popover appearance */
.popover {
    max-width: 400px;
    width: 400px;
    font-size: small;
    height: 100%;
}

/* popover header appearance */
.popover-header {
    font-size: small;
    color: black;
}

/* controls under a popover heading */
.settings-options {
    max-height: 80px;
    overflow: scroll;
}

/* bootstrap icons */
.bi {
    margin: 3px;
    color: gray;
}

.bi:hover {
    color: black;
}

/* clipboard icon */
.svg-inline--fa {
    margin: 3px;
    color: gray;
}

.svg-inline--fa:hover {
    color: black;
}
