/* Adapted from: https://community.plotly.com/t/sidebar-with-icons-expands-on-hover-and-other-cool-sidebars/67318 */

.sidebar {
  background-color: var(--page-background);
  /* background-image: linear-gradient(#f5f6f7, white); */
}

.sidebar .nav-link span {
  color: var(--primary-color);
}

.sidebar .nav-pills .nav-link.active {
  background-color: var(--button-background);
}

/* Small screens */
@media (max-width: 480px) {
  h2 {
    font-size: 8vw }

  .sidebar-icon {
    width: 0px;
    opacity: 0%;
  }

  .sidebar {
    text-align: center;
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  #page-content {
    margin-left: 20px;
    margin-right: 20px;
  }

  h2 {
    text-align: center;
  }

}

/* big screens */
@media (min-width: 481px) {

  /* This creates a skinny side bar fixed to the left of the page */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 5rem;
    padding: 2rem 1rem;
    z-index: 1050;
    transition: width 0.1s ease-in-out;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  /* when the user hovers on the sidebar, expand it */
  .sidebar:hover {
    width: 16rem;
  }

  /* make sure the contents of the navlink don't wrap when navbar collapses */
  .sidebar .nav-link {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
  }


  /* hide the navlink labels by default */
  .sidebar .nav-link span {
    visibility: hidden;
    opacity: 1;
    transition: opacity 0.1s ease-in-out;
  }

  /* when the sidebar is hovered, reveal the labels */
  .sidebar:hover .nav-link span {
    visibility: visible;
    opacity: 1;
  }

  /* make sure the contents don't wrap when the sidebar is collapsed.*/
  .sidebar-header {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    white-space: nowrap;
  }

  /* position the header relative to the logo and hide by default */
  .sidebar-header {
    opacity: 0;
    margin-left: 1rem;
    margin-bottom: 0;
  }

  /* reveal the header when the sidebar is toggled */
  .sidebar:hover .sidebar-header {
    opacity: 1;
  }


  /* shrink icon when sidebar is minimized */
  .sidebar-icon {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  /* grow icon when the sidebar is toggled */
  .sidebar:hover .sidebar-icon {
    display: flex;
    transition: width 0.1s ease-in-out;
    width: 100%;
  }

  /* position the content relative to the collapsed sidebar */
  #page-content {
    margin-left: 6rem;
    margin-right: 1rem;
    padding: 1rem 1rem;
  }

  .sidebar-content {
    overflow: scroll;
    flex-grow: 2;
    display: block;
  }

}
